@* 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

<h1>Index</h1>

 *@

@{
    ViewBag.ChildTitle = "AboutUs";

}


<section>
    This is Index page of AboutUs controller
</section>